/********************헤더********************/
#main_header {
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    border-bottom: 1px solid black;

    background: #1D4088;
    color:white
}

/********************네비게이션********************/
#main_gnb {
    overflow: hidden;
    border-bottom: 1px solid black;
    background: #32394A;
}
#main_gnb > ul.left {
    float: left;
    overflow: hidden;
}
#main_gnb > ul.right {
    float: right;
    overflow: hidden;
}

#main_gnb > ul.left > li {
    float: left;
}

#main_gnb > ul.right > li {
    float: left;
}

#main_gnb a {
    display:block;
    padding: 10px 20px;
    
    border-left: 1px solid #5F6673;
    border-right: 1px solid #242A37;
    color:white;
    font-weight: bold;
}
body {min-width: 760px;}

/********************콘텐츠********************/
#wrap {
    overflow: hidden;
}

#wrap > #main_lnb {
    float: left;
    width: 200px;
}

#wrap > #content_wrap {
    float: left;
    width: 100%;
    width: 99.9%;
    margin-right: -200px;
}

#wrap > #content_wrap > #content {
    padding-right:200px;
}